.jumbotron h1 {
  background-image: url("../images/bacteria.png");
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: white;
}

.col-md-4 {
  margin-bottom: 25px;
  margin-left: 10px;
  /* font-family: Arial, Helvetica, sans-serif; */
}

.svg-container{
  outline-style: solid;

}

body {
  background-color:aliceblue;
  
}

@media only screen and (max-width: 768px) {
  /* For tablets: */
  .col-s-2 {width: 600px}
  .col-s-4 {width: 600px}
  .col-s-12 {width: 100%;}
}

